.questionContainer{}

.questionContainer label {
    cursor: pointer;
}

.questionContainerTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: red;
}

.questionContainerTitle h3{
    color: black;
}